
@font-face {
  font-family: 'Mangal-Regular';
  src: url('Mangal-Regular.eot?#iefix') format('embedded-opentype'),  url('Mangal-Regular.woff') format('woff'), url('Mangal-Regular.ttf')  format('truetype'), url('Mangal-Regular.svg#Mangal-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
